/* FONT */
@font-face {
     font-family: 'Roboto';
     src: url('../font/') format('woff2'),
     url('../font/Roboto-Regular.woff') format('woff');
     font-weight: normal;
     font-style: normal;
     font-display: swap;
}

@font-face {
     font-family: 'Roboto';
     src: url('../font/Roboto-Bold.woff2') format('woff2'),
     url('../font/Roboto-Bold.woff') format('woff');
     font-weight: bold;
     font-style: normal;
     font-display: swap;
}

@font-face {
     font-family: 'Roboto';
     src: url('../font/Roboto-Medium.woff2') format('woff2'),
     url('../font/Roboto-Medium.woff') format('woff');
     font-weight: 500;
     font-style: normal;
     font-display: swap;
}


/* ROOTE */
:root{
     --font-family: "Roboto", sans-serif;
     --font-weight4: 400;
     --font-weight5: 500;
     --font-weight7: 700;
     --color-black: #000000;
     --color-333: #333333;
}
/* GLOBALL */

html{
     height: 100%;
     box-sizing: border-box;
     scroll-behavior: smooth;
}

*,
*::before,
*::after{
     box-sizing:border-box;
}

body{
     display: flex;
     height: 100%;
     padding: 0;
     margin: 0;
     flex-direction: column;
     background-color: #fff;
     color: #222;
     font-family: "Roboto", sans-serif;
     font-size: 16px;
     line-height: 1.5;
}

img{
     max-width: 100%;
     height: auto;
}
*:focus{
     outline: 2px dashed #0A775F;;
     outline-offset: 5px;
}

/* CONTAINER  */

.container{
     width: 100%;
     max-width: 1440px;
     padding-left: 20px;
     padding-right: 20px;
     margin-left: auto;
     margin-right: auto;
}
.main-content{
     flex-grow: 1;
}
/* SITE-HEADER-MENU */
.site-header{
     background-color: #F3D7B7;
     background-image: url(../img/light-bg-img.jpg);
}
.site-header-menu {
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     padding-top: 45px;
}
.header-icon{
     flex-shrink: 0;
}
.header-icon:hover{
     color: #0A775F;
     opacity: 0.8;
}
.header-icon:active{
     opacity: 0.6;
}
.header-menu {
     display: flex;
}
.header-menu-list {
     display: flex;
     justify-content: center;
     padding: 0;
     margin: 0;
}
.header-menu-title {
     list-style: none;
     margin-right: 45px;


}
.header-munu-link {
     text-transform: uppercase;
     text-decoration: none;
     font-size: 12px;
     line-height: 16px;
     color: var(--color-333);
     font-family: var(--font-family);
     font-weight: var(--font-weight7);
     letter-spacing: 1px;
     white-space: nowrap;
}
.header-munu-link:hover{
     color: #0A775F;
     opacity: 0.8;
}
.header-munu-link:active{
     opacity: 0.6;
}
/* SITE-HEADER-MENU-BOTTOM  */
.site-header-menu-bottom-box{
     display: flex;
     justify-content: space-between;
}
.site-header-menu-bottom {
     width: 464px;
     height: 331px;
     margin: 156px 116px 149px 150px;
}
.site-header-menu-bottom-heading {
     font-family: var(--font-family);
     font-weight: var(--font-weight7);
     font-size: 64px;
     line-height: 75px;
     color: var(--color-black);
     margin-top: 0;
     margin-bottom: 24px;

}
.site-header-menu-bottom-title {
     font-family: var(--font-family);
     font-weight: var(--font-weight4);
     font-size: 16px;
     line-height: 24px;
     color: var(--color-black);
     margin-bottom: 44px;
     margin-top: 0;
}
.site-header-menu-bottom-button {
     background-color:#0A775F;
     padding: 16px 24px;
     border-radius: 100px;
     text-decoration: none;
     text-transform: uppercase;
     font-family: var(--font-family);
     font-weight: var(--font-weight5);
     font-size: 16px;
     line-height: 19px;
     color: #fff;
}
.site-header-menu-bottom-button:hover{
     /* color: #0A775F; */
     opacity: 0.8;
}
.site-header-menu-bottom-button:active{
     opacity: 0.6;
}
.site-header-menu-bottom-img{
     margin-right: -50px;
     margin-top: 40px;
     width: 738px;
     height: 596px;
     background-image: url(../img/bottom-img.jpg);
     background-size: cover;
     background-position: center center;
     background-repeat: no-repeat;
}
.site-header-menu-bottom-image{
     margin-top: -90px;
     margin-left: -90px;
     transform: rotate(-10deg);
}



/* RETINA-BG  */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and ( min-resolution: 192dpi),
only screen and ( min-resolution: 2dppx) {
     .site-header{
          background-image:url(../img/light-bg-img@2x.jpg);
     }
     .site-header-menu-bottom-img{
          background-image: url(../img/bottom-img@2x.jpg);
     }
}